<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="fragments/public::layout(~{::section})">
<!-- registration form -->
<section>

	<div class="container mt-4 p-5 w-75">

		<div class="signup-main">
		
			

			<p class="sign" align="center">Register Now</p>
			<form th:action="@{/signup}" method="post" th:object="${user}">
				<input id="firstName" class="un" th:field="*{firstname}" required
					autofocus="autofocus" placeholder="Firstname" align="center" /> <input
					id="lastName" class="un" th:field="*{lastname}" required
					autofocus="autofocus" placeholder="Lastname" align="center" /> <input
					id="email" class="un" th:field="*{email}" required
					autofocus="autofocus" placeholder="Email" align="center" /> <input
					id="username" class="un" th:field="*{username}" required
					autofocus="autofocus" placeholder="Username" align="center" /> <input
					id="password" class="pass" type="password" th:field="*{password}"
					required autofocus="autofocus" placeholder="Password"
					align="center" /> <button type="submit" class="submit" align="center">Sign
					up</button>
				<p class="mt-3" align="center">
					Already registered? <span class="registred-singin"><a
						href="/" th:href="@{/login}">Login here</a></span>
			</form>
		</div>
	</div>
</section>
</html>