<!-- Navbar -->

<div class="container-fluid d-flex justify-content-between w-100"
	th:fragment="header">
	<a class="navbar-brand d-flex justify-content-between" href="/"> <img
		th:src="@{/img/logo.png}" height="50">
		<h4 class="logo-title mt-2">Smart Contact</h4>
	</a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
		data-bs-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
</div>
