.nav {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	background-color: #FCAA22;
	height: 60px;
}

body, html {
	background-color: #f0f2f5;
	background-image: url("/img/background3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	font-family: 'Ubuntu', sans-serif;
}


.main {
	background-color: #FFFFFF;
	width: 400px;
	height: 400px;
	margin: 7em auto;
	border-radius: 1.5em;
	box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.signup-main {
	background-color: #FFFFFF;
	width: 400px;
	height: 550px;
	margin: 7em auto;
	border-radius: 1.5em;
	box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
	padding-top: 40px;
	color: #FCAA22;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	font-size: 23px;
}

.un {
	width: 76%;
	color: rgb(38, 50, 56);
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 1px;
	background: rgba(136, 126, 126, 0.04);
	padding: 10px 20px;
	border: none;
	border-radius: 20px;
	outline: none;
	box-sizing: border-box;
	border: 2px solid rgba(0, 0, 0, 0.02);
	margin-bottom: 50px;
	margin-left: 46px;
	text-align: center;
	margin-bottom: 27px;
	font-family: 'Ubuntu', sans-serif;
}

form.form1 {
	padding-top: 40px;
}

.pass {
	width: 76%;
	color: rgb(38, 50, 56);
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 1px;
	background: rgba(136, 126, 126, 0.04);
	padding: 10px 20px;
	border: none;
	border-radius: 20px;
	outline: none;
	box-sizing: border-box;
	border: 2px solid rgba(0, 0, 0, 0.02);
	margin-bottom: 50px;
	margin-left: 46px;
	text-align: center;
	margin-bottom: 27px;
	font-family: 'Ubuntu', sans-serif;
}

.error {
	font-family: 'Ubuntu', sans-serif;
	color: red;
	text-align: center;
}

.logout {
	font-family: 'Ubuntu', sans-serif;
	color: green;
	text-align: center;
}

.un:focus, .pass:focus {
	border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

.submit {
	cursor: pointer;
	border-radius: 5em;
	color: #fff;
	background: linear-gradient(to right, #FCAA22, #bb7e42);
	border: 0;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 10px;
	padding-top: 10px;
	font-family: 'Ubuntu', sans-serif;
	margin-left: 35%;
	font-size: 13px;
	box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.forgot-signup {
	text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
	color: #FCAA22;
	padding-top: 15px;
}

.signup-main a:hover {
	color: black;
}

.main a:hover {
	color: black;
}

.registred-singin {
	text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
	color: #FCAA22;
}

.new {
	text-align: center;
}



a {
	text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
	color: #FCAA22;
	text-decoration: none
}

/* not found page style */

.not-found-page{
	padding: 20rem;
}

.not-found-page a{
	font-size: 30px;	
}

.not-found-page a:hover{
	color: #FCAA22;
}

@media ( max-width : 600px) {
	.main {
		border-radius: 0px;
	}
}